sudo: true
os: trusty
cache: false
env:
  matrix:
  - BUILDNUMBER=1.1
before_install:
- openssl aes-256-cbc -K $encrypted_b13aa665fbec_key -iv $encrypted_b13aa665fbec_iv
  -in assets/server.key.enc -out assets/server.key -d
script: 
echo "Encrypt Decrypt Build running..." 
echo BUILDNUMBER 
echo "Finished"